h1{
     text-align: center;
     color: blue;
     background-color: black;
}

body{

    background-color: aqua;
}

th{
    color: blue;
    background-color: black;
}
p{
    text-align: center;
    
}